@import './global.scss';

.TheButton {
  display: block;
  font-size: large;
  height: 54px;
  width: 6rem;
  border-radius: 4px;
  background-color: $bg-light;
  color: $bg-dark;
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: $bg-dark;
    border: 2px solid $bg-light;
    color: $bg-light;
  }
}
