@import './global.scss';
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

.nav {
  width: 100vw;
  height: min-content;
  margin: 0;
  background: $bg-dark;
  color: $bg-light;
  border-bottom: 2px solid $bg-light;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 45px;
    font-family: 'Nova Round', cursive;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  form button {
    cursor: pointer;
    margin-left: 0;
    margin-right: 30px; 
    border: 2px solid rgb(26, 22, 22);
    padding: 5px 8px;
    font-weight: 600;
    font-size: 10pt;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border-radius: 3px;
    
    &:hover {
      border: 2px solid rgb(211, 204, 204);
    }
  }

}

