li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li button {
    border-radius: 50%;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    border: none;
    color: #F2F2F2;
    margin-left: 4px;
}
.deleteButton {
    background-color: #FF1A1A ;

    &:hover {
        background-color: #d00606 ;
    }
}

.editButton {
    background-color: #F69400 ;

    &:hover {
        background-color: #fd7200;
    }
}

.addButton {
    background-color: #008061;

    &:hover {
        background-color: #1cb790;
    }
}

