@import './global.scss';

.container {
  @include listBody;
}

.selectionForm {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.list {
  height: 70vh;
  max-height: 70vh;
  width: 100%;
  overflow-y: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  li {
    padding: 10px;
  }
  
  li + li {
    border-top: 1px solid black;
  }
}
