@import './global.scss';

.container {
  @include listBody;
  padding-bottom: 10px;
}

.selectionForm {
  margin: 10px 0;
  display: flex;
  justify-content: space-evenly;
}

.list {
  height: calc(100% - 40px);
  width: 100%;
  overflow-y: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  li {
    padding: 10px;
  }
  
  li + li {
    border-top: 1px solid black;
  }
}
