@import './global.scss';

.page {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $bg-dark;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.welcomePageImage {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.welcomePageImage:hover {
  animation-name: expandWithShadow;
  animation-duration: 1s;
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}

p {
  text-align: center;
  max-width: 60%;
  font-size: large;
  background-color: $bg-light;
  padding: 30px;
  margin: 5px;
  border-radius: 10px;
  color: $bg-dark;
}

h2 {
  font-size: 35px;
  font-family: "Nova Round", cursive;
  color: $bg-light;
  padding-bottom: 15px;
}

.matrix {
  margin-top: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes expandWithShadow {
  0% {

  }
  100% {
    height: 400px;
    width: 400px;
    box-shadow: 60px -16px #1081bd  ;
  }
}
